@layer theme, base, components, utilities;

@source '../../../renderer-shared';
@source '../../../renderer';

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --color-akari-50: #fff0f3;
  --color-akari-100: #ffe3e9;
  --color-akari-200: #ffc9d6;
  --color-akari-300: #ffa0b6;
  --color-akari-400: #ff6e91;
  --color-akari-500: #f83f6f;
  --color-akari-600: #e61d4f;
  --color-akari-700: #c20e3a;
  --color-akari-800: #a10f34;
  --color-akari-900: #861230;
  --color-akari-950: #4a0415;
  --color-neon-50: #f5f0ff;
  --color-neon-100: #ede5ff;
  --color-neon-200: #ddd0ff;
  --color-neon-300: #c4abff;
  --color-neon-400: #a67cff;
  --color-neon-500: #8b4aff;
  --color-neon-600: #7c28f6;
  --color-neon-700: #6d17e1;
  --color-neon-800: #5b15b8;
  --color-neon-900: #4c1496;
  --color-neon-950: #2d0664;
}
